name: backend-03-klotzgal

services:
  app:
    build: .
    container_name: app
    ports:
      - "${APP_PORT}:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=123
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=shop-service-dev
    develop:
      watch:
        - path: .
          action: sync
          target: app
    depends_on: 
      - db
    networks:
      - net
  db:
    image: postgres
    container_name: db
    environment:
      POSTGRES_USER: 123
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: shop-service-dev
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./postgres-data:/var/lib/postgresql/data

    networks:
      - net
  nginx:
    image: nginx:1.25.0
    ports:
      - 80:80
      - 8000
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    entrypoint: ["nginx", "-g", "daemon off;"]
    depends_on: 
      - app
    networks:
      - net

networks:
  net:
    driver: bridge
