name: backend-03-klotzgal

services:
  app1:
    build: .
    image: backend-03-klotzgal-app
    container_name: app1
    ports:
      - "7001:7001"
    environment:
      - APP_PORT=7001
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=123
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=shop-service-dev
    depends_on: 
      - db
    networks:
      - net

  app2:
    image: backend-03-klotzgal-app
    container_name: app2
    ports:
      - "7002:7002"
    environment:
      - APP_PORT=7002
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=123
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=shop-service-dev
    depends_on: 
      - app1
    networks:
      - net

  app3:
    image: backend-03-klotzgal-app
    container_name: app3
    ports:
      - "7003:7003"
    environment:
      - APP_PORT=7003
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=123
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=shop-service-dev
    depends_on: 
      - app1
    networks:
      - net

  db:
    image: postgres
    container_name: db
    environment:
      POSTGRES_USER: 123
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: shop-service-dev
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - net

  pg_admin:
    image: dpage/pgadmin4
    container_name: pg_admin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on: 
      - db
    networks:
      - net

  nginx:
    image: nginx:1.25.0
    container_name: nginx
    environment:
      NGINX_HOST: ${NGINX_HOST}
      NGINX_PORT: ${NGINX_PORT}
      # NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/
    ports:
      - 80:${NGINX_PORT}
      - 8000
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/templates:/etc/nginx/templates
      - ./static:/usr/share/nginx/static
    depends_on: 
      - app2
      - app3
    networks:
      - net

networks:
  net:
    driver: bridge
